footer {
  background-color: #000;
  padding: 0px 0px 10px;
}

footer #footer-bg {
  background-image: url("../images/home/food-bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0px;
}

@media screen and (max-width: 767px) {
  footer #footer-bg {
    /*background-image: url("../images/home/food-bg3.png");*/
    padding: 60px 0px;
  }

  footer .btn {
    min-width: 125px;
  }
}

@media screen and (max-width: 576px) {
  footer #footer-bg .text-big {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
  }

  footer .btn {
    min-width: 125px;
  }
}
