#menu-type-content {
  background: rgba(0, 0, 0, 0.06);
  border: 1px solid #c4cdd5;
  position: absolute;
  bottom: 0;
  width: 1200px;
}

#menu-type-content > .col-3 {
  border-right: 1px solid #c4cdd5;
}

img.display-on-hover {
  display: none;
}

.menu-type.active,
.menu-type:hover {
  background: #ebebeb;
}

.menu-type.active p,
.menu-type:hover p {
  color: #101010;
}

.menu-type.active img.display,
.menu-type:hover img.display {
  display: none;
}

.menu-type.active img.display-on-hover,
.menu-type:hover img.display-on-hover {
  display: inline;
}

@media all and (max-width: 1200px) {
  #menu-type-content {
    width: 940px;
  }
}

@media all and (max-width: 992px) {
  #menu-type-content {
    width: 700px;
  }
}

.menu-item {
  background: #101010;
}

@media all and (max-width: 992px) {
  .menu-item {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 14px;
  }
  .menu-item img {
    width: 100%;
  }
}

@media all and (max-width: 768px) {
  .menu-type {
    border: 1px solid #ebebeb;
    min-height: 300px;
  }
}
