#menu {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  padding: 0px;
  z-index: 2;
}

.navbar .nav-link {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.navbar .nav-item {
  margin-left: 50px;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
}

.navbar-dark .navbar-toggler,
.navbar-toggler:focus {
  border: none;
  box-shadow: none;
}

.navbar-toggler {
  background-image: url("../images/icon-menu-open.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 42px;
}

@media screen and (max-width: 1200px) {
  .navbar .nav-item {
    margin-left: 20px;
  }
}

@media screen and (max-width: 992px) {
  .navbar-brand img {
    max-width: 100px;
  }
  .navbar .nav-item {
    margin-left: 5px;
  }
  .navbar .btn {
    padding: 8px 5px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand img {
    max-width: 200px;
  }
}
