.section-post {
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
}

/** week's special **/

#week-special .section-post-title {
  font-size: 18px;
  line-height: 25.2px;
}

#week-special .section-post-title {
  font-size: 18px;
  line-height: 25.2px;
}

#week-special .dishes-price {
  font-size: 16px;
  line-height: 16px;
}

@media screen and (max-width: 767px) {
  #week-special .dishes-price {
    font-size: 36px;
    line-height: 43.2px;
  }
}

.section-overlay {
  position: absolute;
  left: 0;
  bottom: 45px;
  background: rgba(33, 43, 54, 0.4);
  width: 100%;
  padding: 15px 15px 0px 15px;
}

/** our new dishes **/
#our-new-dishes .bg-black {
  width: 588px;
  padding: 40px 78px 70px 40px;
  position: absolute;
  z-index: 1;
}

@media screen and (max-width: 1200px) {
  #our-new-dishes .bg-black {
    padding: 40px 20px 20px 20px;
  }
}

@media screen and (max-width: 992px) {
  #our-new-dishes .bg-black {
    width: 100%;
    position: relative;
    padding: 20px;
  }
}

@media screen and (max-width: 578px) {
  #our-new-dishes .bg-black {
    border-radius: 20px;
    width: 90%;
    margin: auto;
    margin-top: -100px;
  }
}
